.category-bar {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    overflow: hidden;
}

.category-bar__wrap {
    display: flex;
    align-items: center;
    min-width: 0;
    padding: 0 25px;
    position: relative;

    & .divider {
        position: absolute;
        left: 8px;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #eee;
    }
}

.category-btn {
    position: absolute;

    cursor: pointer;
    user-select: none;
    color: #888888;
    transition: color .25s ease-in-out;
    z-index: 10;

    &:hover {
        color: #333;
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }

}

.category-bar__slide {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

}

.category-item {
    border: none;
    outline: none;
    cursor: pointer;

    padding: 8px 20px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 15px;
    border-radius: 50px;
    margin-right: 10px;
    flex-shrink: 0;



    &.active {
        background-color: var(--second-color);
        font-weight: 500;
    }
}