.photo-field {
    display: flex;
    justify-content: space-between;

    & button {
        margin-left: 15px;
    }
}

.photo-wrapper {
    min-height: 400px;
    background-color: #fefefe;
    border-radius: 5px;
    margin-bottom: 5px;

    img {
        border-radius: 5px;

    }
}