:root {
    --first-color: #7FC8A9;
    --second-color: #D5EEBB;
    --tirty-color: #5F7A61;
    --forty-color: #444941;
    --text-color: #333;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}


.container {
    max-width: 1111px;
    margin: 0 auto;
    height: 100%;

    @media screen and (max-width: 1111px) {
        padding: 0 20px;
    }
}

.content {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: calc(100vh - 340px);

    &.form-edit {
        max-width: 400px;
    }

    @media screen and (max-width: 430px) {
        padding: 20px;
    }
}

.text-center {
    text-align: center;
}